@using ClassLibrary.Extensions
@using ClassLibrary.Models
@using System.Security.Claims

<span class="badge bg-secondary">@Appointment?.Customer?.GetFullName()</span>

@code {
    [Parameter]
    public Appointment? Appointment { get; set; }
    [Parameter]
    public bool Expanded { get; set; }
}
