@using ClassLibrary.Extensions
@using ClassLibrary.Models
@using System.Security.Claims

<button class="btn">
    <span class="badge bg-secondary">@Appointment?.Customer?.GetFullName()</span>
</button>

@code {
    [Parameter]
    public Appointment? Appointment { get; set; }
}
