@using ClassLibrary.Data.Handlers;
@using ClassLibrary.Data.Queries;
@using ClassLibrary.Data.Repositories;
@using ClassLibrary.Factories;
@using ClassLibrary.Models
@using System.Globalization;

<div id="day" name="day" class="col-sm-3 col-md-3 col-lg-3 col-xl-3 flex-shrink-0 px-0">
    <div class="card rounded-0 bg-dark border-secondary">
        <div class="card-header border-secondary">
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col">
                        <strong>
                            @Day.ToString("d")
                        </strong>
                    </div>
                </div>
                <div class="row">
                    <strong>
                        <small>
                            @Day.ToString("dddd").ToUpper()
                        </small>
                    </strong>
                </div>
            </div>
        </div>
        <div class="card-body p-0">
            @for (int index = 0; index < 24; index++)
            {
                var hour = index.ToString().PadLeft(2, '0');
                <div class="row border-bottom border-secondary py-0 px-0 mx-0 my-0">
                    <div class="col-sm-4 col-md-3 py-5 border-end border-secondary">
                        @($"{hour}:00")
                    </div>
                    <div class="col py-3">
                        @if (_appointments is not null && _appointments.Count > 0)
                        {
                            foreach (var appointment in _appointments.Where(item => item.Date.Hour.ToString().PadLeft(2, '0').Equals(hour)).OrderBy(item => item.Date.Hour))
                            {
                                <CalendarEvent Appointment="appointment" />
                            }
                        }
                        else
                        {
                            <Spinner />
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@code {
    @implements IDisposable

    [Inject]
    public ICommandFactory? CommandFactory { get; set; }
    [Inject]
    public IAppointmentsHandler? AppointmentsHandler { get; set; }

    [Parameter]
    public DateTime Day { get; set; }

    List<Appointment>? _appointments;
    ListAppointmentsQuery? _listAppointmentsQuery;

    protected override void OnInitialized()
    {
        _listAppointmentsQuery = CommandFactory!.ListAppointmentsQuery(AppointmentsHandler!.HandleAsync);
        AppointmentsHandler!.AppointmentCreated += OnAppointmentCreated;
    }

    protected override async Task OnParametersSetAsync()
    {
        _listAppointmentsQuery!.StartDate = Day;
        _listAppointmentsQuery!.EndDate = Day.AddDays(1);
        _appointments = await _listAppointmentsQuery!.ExecuteAsync()!;
    }

    void OnAppointmentCreated(object? sender, Appointment appointment)
    {
        var date = appointment.Date.Date;
        if (date != Day)
            return;

        _appointments?.Add(appointment);
    }

    public void Dispose()
    {
        AppointmentsHandler!.AppointmentCreated -= OnAppointmentCreated;
    }

}