@Header
<div id="calendar" name="calendar">
    @Month
</div>

@code {
    bool ExpandedEvents;
    [Parameter]
    public RenderFragment? Month { get; set; }
    [Parameter]
    public RenderFragment? Header { get; set; }
}
